<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<script>
		// api url
		const api_url = "https://extreme-ip-lookup.com/json/?key=" + "<%=city %>"
		let city = ""


		// Defining async function
		async function getapi(url) {

			// Storing response
			const response = await fetch(url);

			// Storing data in form of JSON
			var data = await response.json();
			console.log(data.city);
			city = data.city;
			const api_url2 = "https://api.openweathermap.org/data/2.5/weather?q=" + city +
				"&units=metric&appid=" + "<%=weather %>"

			getapiWeather(api_url2);

			// show(data);
		}
		// Calling that async function
		getapi(api_url);

		async function getapiWeather(url) {

			// Storing response
			const response = await fetch(url);

			// Storing data in form of JSON
			var data = await response.json();
			console.log(data.main.temp);
			// show(data);
		}
	</script>
</body>

</html>